node_modules
src/EventHandlers/ApplicationPurchaseEquipmentHandlers.ts
src/Logic/ApplicationPurchaseEquipmentLogic.ts
*.log
**/cache
src/Feature1
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.suo
*.user
*.userprefs
*.vs/
_ReSharper*/
*.DotSettings.user
*.DotSettings
/TestResults/
/packages/
/nupkg/
*.nupkg
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.history/